@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: parabole;
  src: url(../fonts/663e5d8c7147f013dd543516_p-q_f.ttf);
}

@font-face {
  font-family: main;
  src: url(../fonts/663e5d737a75bb2efe6a0efe_n-h_m.ttf);
}
